.header {
  text-align: center;
  background-color: #4d774e;
  height: 100px;
  width: 100%;
}

.main {
  width: 30%;
  padding: 30px;
  text-align: center;
}

/* form {
  display: flex;
  justify-content: space-between;
} */

/* input[type="text"] {
  width: 65%;
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
} */

button {
  width: 30%;
  font-size: 20px;
  padding: 5px 10px;
  background-color: #9dc88d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.to-do-list {
  list-style: none;
  margin: 0;
  padding: 15px 0px;
}

.list-item {
  text-align: left;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.done {
  text-decoration: line-through;
}

li {
  display: flex;
  align-items: center;
}
